<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="content">
        {{>header}}
        <p>Made on Express.js, using hbs.js as a view engine.</p>
        <p>Powered by Mapbox API for geocoding and Weatherstack API for weather info.</p>
        <p>Source code: <a href="https://github.com/AlexRazor1337/weather-app">github</a></p>
        <img src="img/weatherstack_logo.png" alt="" id="weatherstack_logo">
        <img src="img/mapbox_logo.png" alt="" id="mabpox_logo">
    </div>

    {{>footer}}
</body>
</html>